<h4>1) Monday 17.02.2025: Statistical models</h4>
<p>
<ul><li>Probability Theory</li><li>Graphical models (DAG)</li><li>Likelihood</li></ul><b>Chapters:</b> Chapter 1<br/>
<b>Exercises:</b><ul><li><a href="https://bitbucket.org/wegmannlabteaching/statistical_modelling_and_inference/raw/master/Exercises/ML_Exercises_0_MathConcepts/ML_Exercises_0_MathConcepts.pdf"  target="_blank">ML_Exercises_0_MathConcepts.pdf</a></li><li><a href="https://bitbucket.org/wegmannlabteaching/statistical_modelling_and_inference/raw/master/Exercises/ML_Exercises_1_StatisticalModels/ML_Exercises_1_StatisticalModels.pdf"  target="_blank">ML_Exercises_1_StatisticalModels.pdf</a></li></ul></p>

<h4>2) Monday 17.02.2025: Maximum Likelihood Inference</h4>
<p>
<ul><li>Maximum Likelihood Estimator (MLE)</li><li>Properties of MLEs</li><li>Quantifying confidence</li></ul><b>Chapters:</b> Chapter 2 until 2.2<br/>
<b>Exercises:</b> <a href="https://bitbucket.org/wegmannlabteaching/statistical_modelling_and_inference/raw/master/Exercises/ML_Exercises_2_MLE/ML_Exercises_2_MLE.pdf"  target="_blank">ML_Exercises_2_MLE.pdf</a><br/>
</p>

<h4>3) Wednesday 19.02.2025: Newton-Raphson Algorithm</h4>
<p>
<ul><li>The need for numerical optimization</li><li>Newton-Raphson algorithm</li></ul><b>Chapters:</b> Chapter 2.3<br/>
<b>Exercises:</b> <a href="https://bitbucket.org/wegmannlabteaching/statistical_modelling_and_inference/raw/master/Exercises/ML_Exercises_3_NewtonRaphson/ML_Exercises_3_NewtonRaphson.pdf"  target="_blank">ML_Exercises_3_NewtonRaphson.pdf</a><br/>
</p>

<h4>4) Monday 24.02.2025: Other numerical optimization techniques</h4>
<p>
<ul><li>Line-search</li><li>Nelder-Mead</li></ul><b>Chapters:</b> Chapter 2.4<br/>
<b>Exercises:</b> <a href="https://bitbucket.org/wegmannlabteaching/statistical_modelling_and_inference/raw/master/Exercises/ML_Exercises_4_OtherNumericalOptimization/ML_Exercises_4_OtherNumericalOptimization.pdf"  target="_blank">ML_Exercises_4_OtherNumericalOptimization.pdf</a><br/>
</p>

<h4>5) Monday 24.02.2025: Other numerical optimization techniques (continued)</h4>
<p>
</p>

<h4>6) Monday 03.03.2025: The EM Algorithm</h4>
<p>
<ul><li>Latent variables</li><li>The Expectation-Maximization (EM) algorithm</li></ul><b>Chapters:</b> Chapter 2.5 (without 2.5.1)<br/>
<b>Exercises:</b> <a href="https://bitbucket.org/wegmannlabteaching/statistical_modelling_and_inference/raw/master/Exercises/ML_Exercises_5_EM/ML_Exercises_5_EM.pdf"  target="_blank">ML_Exercises_5_EM.pdf</a><br/>
<b>Videos: </b><a href="https://youtu.be/IcewUPVnE3w"  target="_blank">Video</a></p>

<h4>7) Monday 03.03.2025: The EM Algorithm (continued)</h4>
<p>
</p>

<h4>8) Wednesday 05.03.2025: Bayesian Statistics</h4>
<p>
<ul><li>Bayesian statistics</li><li>Prior distributions</li><li>Conjugate priors</li></ul><b>Chapters:</b> Chapter 3 until 3.2<br/>
<b>Exercises:</b> <a href="https://bitbucket.org/wegmannlabteaching/statistical_modelling_and_inference/raw/master/Exercises/ML_Exercises_6_BayesianStatistics/ML_Exercises_6_BayesianStatistics.pdf"  target="_blank">ML_Exercises_6_BayesianStatistics.pdf</a><br/>
<b>Videos: </b><a href="https://youtu.be/S873W1RwSn4"  target="_blank">Video</a></p>

<h4>9) Monday 10.03.2025: Markov Chains</h4>
<p>
<ul><li>Discrete Time Markov Chains</li><li>Stationary distributions</li></ul><b>Chapters:</b> Chapter 3.3.1<br/>
<b>Exercises:</b> <a href="https://bitbucket.org/wegmannlabteaching/statistical_modelling_and_inference/raw/master/Exercises/ML_Exercises_7_MarkovChains/ML_Exercises_7_MarkovChains.pdf"  target="_blank">ML_Exercises_7_MarkovChains.pdf</a><br/>
<b>Videos: </b><a href="https://youtu.be/EnjexaMjIuY"  target="_blank">Video</a></p>

<h4>10) Monday 10.03.2025: Markov Chain Monte Carlo (MCMC)</h4>
<p>
<ul><li>Metropolis-Hastings algorithm</li><li>Convergence and Mixing</li><li>Metropolis-Hastings algorithm in Bayesian inference</li><li>Posterior sampling</li></ul><b>Chapters:</b> Chapter 3.3.2, 3.3.3 & 3.3.4<br/>
<b>Exercises:</b> <a href="https://bitbucket.org/wegmannlabteaching/statistical_modelling_and_inference/raw/master/Exercises/ML_Exercises_8_MetropolisHastings/ML_Exercises_8_MetropolisHastings.pdf"  target="_blank">ML_Exercises_8_MetropolisHastings.pdf</a><br/>
<b>Videos: </b><a href="https://youtu.be/h-DC6ZUxB6M"  target="_blank">Video</a></p>

<h4>11) Wednesday 12.03.2025: MCMC (continued)</h4>
<p>
<b>Exercises:</b> <a href="https://bitbucket.org/wegmannlabteaching/statistical_modelling_and_inference/raw/master/Exercises/ML_Exercises_9_MetropolisHastings2/ML_Exercises_9_MetropolisHastings2.pdf"  target="_blank">ML_Exercises_9_MetropolisHastings2.pdf</a><br/>
<b>Videos: </b><a href="https://youtu.be/EnjexaMjIuY"  target="_blank">Video</a></p>

<h4>12) Monday 17.03.2025: Empirical Bayes</h4>
<p>
<ul><li>Concept of empirical Bayes methods for latent variables</li></ul><b>Chapters:</b> Chapter 3.4<br/>
<b>Exercises:</b> <a href="https://bitbucket.org/wegmannlabteaching/statistical_modelling_and_inference/raw/master/Exercises/ML_Exercises_10_EmpiricalBayes/ML_Exercises_10_EmpiricalBayes.pdf"  target="_blank">ML_Exercises_10_EmpiricalBayes.pdf</a><br/>
</p>

<h4>13) Monday 17.03.2025: Approximate Bayesian Computation (ABC)</h4>
<p>
<ul><li>Rejection sampling</li><li>ABC-GLM</li></ul><b>Chapters:</b> Chapters 3.5 & 3.5.2, 3.5.3<br/>
<b>Exercises:</b> <a href="https://bitbucket.org/wegmannlabteaching/statistical_modelling_and_inference/raw/master/Exercises/ML_Exercises_11_ABC/ML_Exercises_11_ABC.pdf"  target="_blank">ML_Exercises_11_ABC.pdf</a><br/>
<b>Videos: </b><a href="https://youtu.be/xtPHTSVD4T8"  target="_blank">Video</a>, <a href="https://youtu.be/r3iAqCjODrk"  target="_blank">Video</a></p>

<h4>14) Wednesday 19.03.2025: Model Selection</h4>
<p>
<ul><li>Nested models</li><li>Model Selection</li><li>Likelihood-ratio test</li><li>Bayes factors</li></ul><b>Chapters:</b> Chapters 4, 4.1 & 4.2<br/>
<b>Exercises:</b> <a href="https://bitbucket.org/wegmannlabteaching/statistical_modelling_and_inference/raw/master/Exercises/ML_Exercises_12_ModelSelection/ML_Exercises_12_ModelSelection.pdf"  target="_blank">ML_Exercises_12_ModelSelection.pdf</a><br/>
</p>

<h4>15) Monday 24.03.2025: Hidden Markov Models (HMM)</h4>
<p>
<ul><li>Hidden Markov Models</li><li>Likelihood & state posteriors</li><li>Forward-Backward algorithms</li></ul><b>Chapters:</b> Chapters 5 & 5.1<br/>
<b>Exercises:</b> <a href="https://bitbucket.org/wegmannlabteaching/statistical_modelling_and_inference/raw/master/Exercises/ML_Exercises_13_HMM/ML_Exercises_13_HMM.pdf"  target="_blank">ML_Exercises_13_HMM.pdf</a><br/>
</p>

<h4>16) Monday 24.03.2025: Hidden Markov Models (continued)</h4>
<p>
</p>

<h4>17) Wednesday 26.03.2025: Baum-Welch algorithm</h4>
<p>
<ul><li>EM for HMM</li></ul><b>Chapters:</b> Chapter 5.3<br/>
<b>Exercises:</b> <a href="https://bitbucket.org/wegmannlabteaching/statistical_modelling_and_inference/raw/master/Exercises/ML_Exercises_14_BaumWelch/ML_Exercises_14_BaumWelch.pdf"  target="_blank">ML_Exercises_14_BaumWelch.pdf</a><br/>
</p>

<h4>18) Monday 07.04.2025: HMM - MCMC</h4>
<p>
<ul><li>MCMC algorithms applied to HMMs</li></ul><b>Exercises:</b> <a href="https://bitbucket.org/wegmannlabteaching/statistical_modelling_and_inference/raw/master/Exercises/ML_Exercises_15_MCMCForHMM/ML_Exercises_15_MCMCForHMM.pdf"  target="_blank">ML_Exercises_15_MCMCForHMM.pdf</a><br/>
</p>

<h4>19) Monday 07.04.2025: Reserve</h4>
<p>
<ul><li>We will probabably progress a bit slower than anticipated</li></ul></p>

<h4>20) Wednesday 09.04.2025: Q&A Session</h4>
<p>
<ul><li>Chance to discuss open questions</li></ul></p>

<h4>Solution to Exercises</h4><ul><li><a href="https://bitbucket.org/wegmannlabteaching/statistical_modelling_and_inference/raw/master/Exercises/ML_Exercises_0_MathConcepts/ML_Exercises_0_MathConcepts_solutions.pdf"  target="_blank">ML_Exercises_0_MathConcepts_solutions.pdf</a></li><li><a href="https://bitbucket.org/wegmannlabteaching/statistical_modelling_and_inference/raw/master/Exercises/ML_Exercises_1_StatisticalModels/ML_Exercises_1_StatisticalModels_solutions.pdf"  target="_blank">ML_Exercises_1_StatisticalModels_solutions.pdf</a></li><li><a href="https://bitbucket.org/wegmannlabteaching/statistical_modelling_and_inference/raw/master/Exercises/ML_Exercises_2_MLE/ML_Exercises_2_MLE_solutions.pdf"  target="_blank">ML_Exercises_2_MLE_solutions.pdf</a></li><li><a href="https://bitbucket.org/wegmannlabteaching/statistical_modelling_and_inference/raw/master/Exercises/ML_Exercises_3_NewtonRaphson/ML_Exercises_3_NewtonRaphson_solutions.pdf"  target="_blank">ML_Exercises_3_NewtonRaphson_solutions.pdf</a></li><li><a href="https://bitbucket.org/wegmannlabteaching/statistical_modelling_and_inference/raw/master/Exercises/ML_Exercises_4_OtherNumericalOptimization/ML_Exercises_4_OtherNumericalOptimization_solutions.pdf"  target="_blank">ML_Exercises_4_OtherNumericalOptimization_solutions.pdf</a></li><li><a href="https://bitbucket.org/wegmannlabteaching/statistical_modelling_and_inference/raw/master/Exercises/ML_Exercises_5_EM/ML_Exercises_5_EM_solutions.pdf"  target="_blank">ML_Exercises_5_EM_solutions.pdf</a></li><li><a href="https://bitbucket.org/wegmannlabteaching/statistical_modelling_and_inference/raw/master/Exercises/ML_Exercises_6_BayesianStatistics/ML_Exercises_6_BayesianStatistics_solutions.pdf"  target="_blank">ML_Exercises_6_BayesianStatistics_solutions.pdf</a></li><li><a href="https://bitbucket.org/wegmannlabteaching/statistical_modelling_and_inference/raw/master/Exercises/ML_Exercises_7_MarkovChains/ML_Exercises_7_MarkovChains_solutions.pdf"  target="_blank">ML_Exercises_7_MarkovChains_solutions.pdf</a></li><li><a href="https://bitbucket.org/wegmannlabteaching/statistical_modelling_and_inference/raw/master/Exercises/ML_Exercises_8_MetropolisHastings/ML_Exercises_8_MetropolisHastings_solutions.pdf"  target="_blank">ML_Exercises_8_MetropolisHastings_solutions.pdf</a></li><li><a href="https://bitbucket.org/wegmannlabteaching/statistical_modelling_and_inference/raw/master/Exercises/ML_Exercises_9_MetropolisHastings2/ML_Exercises_9_MetropolisHastings2_solutions.pdf"  target="_blank">ML_Exercises_9_MetropolisHastings2_solutions.pdf</a></li><li><a href="https://bitbucket.org/wegmannlabteaching/statistical_modelling_and_inference/raw/master/Exercises/ML_Exercises_10_EmpiricalBayes/ML_Exercises_10_EmpiricalBayes_solutions.pdf"  target="_blank">ML_Exercises_10_EmpiricalBayes_solutions.pdf</a></li><li><a href="https://bitbucket.org/wegmannlabteaching/statistical_modelling_and_inference/raw/master/Exercises/ML_Exercises_11_ABC/ML_Exercises_11_ABC_solutions.pdf"  target="_blank">ML_Exercises_11_ABC_solutions.pdf</a></li><li><a href="https://bitbucket.org/wegmannlabteaching/statistical_modelling_and_inference/raw/master/Exercises/ML_Exercises_12_ModelSelection/ML_Exercises_12_ModelSelection_solutions.pdf"  target="_blank">ML_Exercises_12_ModelSelection_solutions.pdf</a></li><li><a href="https://bitbucket.org/wegmannlabteaching/statistical_modelling_and_inference/raw/master/Exercises/ML_Exercises_13_HMM/ML_Exercises_13_HMM_solutions.pdf"  target="_blank">ML_Exercises_13_HMM_solutions.pdf</a></li><li><a href="https://bitbucket.org/wegmannlabteaching/statistical_modelling_and_inference/raw/master/Exercises/ML_Exercises_14_BaumWelch/ML_Exercises_14_BaumWelch_solutions.pdf"  target="_blank">ML_Exercises_14_BaumWelch_solutions.pdf</a></li><li><a href="https://bitbucket.org/wegmannlabteaching/statistical_modelling_and_inference/raw/master/Exercises/ML_Exercises_15_MCMCForHMM/ML_Exercises_15_MCMCForHMM_solutions.pdf"  target="_blank">ML_Exercises_15_MCMCForHMM_solutions.pdf</a></li></ul>